#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.App form {
  display: flex;
  gap: 10px;
  justify-content: centr;
  align-items: center;
}

.decks {
  display: grid;
  width: 600px;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  color: black;
}

.decks li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 100%;
  background: white;
  border: 1px solid white;
  border-radius: 10px;
}