.Deck {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 70vh;
  gap: 10px;
}

.Deck form {
  display: flex;
  gap: 10px;
  justify-content: centr;
  align-items: center;
}

.cards {
  display: grid;
  width: 600px;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  color: black;
}

.cards li {
  margin-top: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 100%;
  background: white;
  border: 1px solid white;
  border-radius: 10px;
}

.cards li button {
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 9pt;
}
